for art in [1, 2, 3]
    div.art-box
        div.art-box-img
            img(src="http://d2me0fuzw8a1c5.cloudfront.net/sites/default/files/styles/large/public/images/22922/krik_munka.jpeg")

        div.art-box-info
            p Name:
                label(name="name") !
            p Artist:
                label(name="artist") !
            p Sold for:
                label(name="sold-for") !
            p Min price:
                label(name="price") !
            p Owner
                label(name="owner") !