extends layout

block content
    script(src="./js/auth.js")

    div.header
        span
            h1 Auction

    form(action="/auth" method="POST")
        p
        label(style="font-size:20px") Put in username
        p
        input(name="username" placeholder="username" style="font-size:20px" required)
        p
        input(name="password" placeholder="password" style="font-size:20px" required)
        p
        button.bodyButton(type="submit") submit