div(id="chat-dialog").dialog
    h3 Bidding chat
    div#chat.chat
        p A
        p A
        p A
        p A
        p A
        p A
        p A
        p A
        p A
        p A
        p A
        p A
        p A
        p A
        p A
        p A
        p A
        p A
        p A
        p A

    input(type="number" placeholder='raising sum' required)
    button.bodyButton(name="offer" disabled) Offer