for participant in [1, 2, 3]
    div.participant-box
        div.participant-info
            p Participant:
                label(name="participant") !
            p Balance:
                label(name="money") !