extends user-layout

block user-content
    for art in arts
        div.art-box
            div.art-box-img
                img(src=art.way)

            div.art-box-info
                p Name:
                    label(name="name") #{art.artName}
                p Artist:
                    label(name="artist") #{art.artist}
                p Price:
                    label(name="price") #{art.price}