extends user-layout

block user-content
    br
    div(id="art-dialog").dialog
        h3 Current art
        img(src="")
        div.art-info
            p Name:
                label(name="name") !
            p Artist:
                label(name="artist") !
            p Start price:
                label(name="start-price") !
            p Current price:
                label(name="current-price") !
            p Min step:
                label(name="min-step") !
            p Max step:
                label(name="max-step") !
            p Count down:
                label(name="count-down") 00:00:00
            p Time to acquaintance:
                label(name="time-to-acquaintance") 00:00:00

    include chat


