doctype html
html(lang="en")
    head
    title=title
    script(src="/jquery/jquery.js")
    script(src="/pageProcessing.js")

    body
        link(rel="stylesheet" href="/styles/other.css")
        link(rel="stylesheet" href="/styles/buttons.css")
        link(rel="stylesheet" href="/styles/divs.css")

        div#header
            button#artsRedirect.redirectButton(onclick="location.href='/arts'") Arts
            button#participantsRedirect.redirectButton(onclick="location.href='/participants'") Participants
            button#settingsRedirect.redirectButton(onclick="location.href='/settings'") Auction settings
        div(align="center")
            br
            |
            block content