extends layout

block content
    div.participantDiv
        br
        fieldset.fieldset
            label.label Username
            input.input(name="username" type="name" value="")

        fieldset.fieldset
            label.label Amount of money
            input.input(name="money" type="number" value="")
        br
        button.bodyButton(name="edit" onclick="edit(this)" disabled) Edit
        button.bodyButton(name="apply" onclick="apply(this)" disabled) Apply
        button.bodyButton(name="remove" onclick="remove(this)" disabled) Remove
        button.bodyButton(name="erase" onclick="erase(this)") Erase
        img(name="check" src="/imgs/writing.png" height="23" style="margin-left: 20px")

    button.bodyButton(onclick="addNew(this)") Add template

    for participant in participants
        div.participantDiv
            br
            fieldset.fieldset
                label.label Username
                input.input(name="username" type="name" value=participant.username disabled)

            fieldset.fieldset
                label.label Amount of money
                input.input(name="money" type="number" value=participant.money disabled)
            br
            button.bodyButton(name="edit" onclick="edit(this)") Edit
            button.bodyButton(name="apply" onclick="apply(this)" disabled) Apply
            button.bodyButton(name="remove" onclick="remove(this)") Remove
            button.bodyButton(name="erase" onclick="erase(this)" disabled) Erase
            img(name="check" src="/imgs/success.png" height="23" style="margin-left: 20px")